@import '../Layout/variables.scss';

$lineColor: $secondary;

@import '~navpush/dist/styles/Hamburger.module.scss';

.Header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding-left: 15px;
  padding-right: 15px;
}

.Header__items {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  font-size: 22px;
  font-weight: bold;
}

.ButtonContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.NavInner {
  padding: 50px;
}
