.Nav__items {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  font-size: 22px;
  font-weight: bold;
}

.ButtonContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.SidebarInner {
  padding: 50px;
}
