.Fixbox__items {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  font-size: 22px;
  font-weight: bold;
}

.ButtonContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.NavInner {
  padding: 50px;
}

.Fixbox {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

#foo {
  background: red;
  bottom: 100px;
  right: 200px;
  position: fixed;
  width: 200px;
  height: 200px;
}
