@import '../styles.module.scss';

.Sidebar--left {
  top: 0;
  left: -$width;
  width: $width;
  height: calc(100% + 60px);
}

.Sidebar--left.Sidebar--open {
  transform: translate3d($width, 0, 0);
}
