.Sidebar {
  position: fixed;
  background: #fff;
  transition: transform $transitionDuration ease,
    visibility $transitionDuration ease;
  z-index: 10;
  visibility: hidden;
}

.Sidebar--open {
  visibility: visible;
}
