@import './Sidebar/styles.module.scss';
@import './Nav/styles.module.scss';
@import './Canvas/styles.module.scss';
@import './Overlay/styles.module.scss';

.NavPush {
  position: relative;
  z-index: 0;
}

.NavPush--open {
  overflow-x: hidden;
}
