$background: #fff !default;
$padding: 10px;

.Hamburger {
  display: block;
  background: none;
  border: 0;
  padding: $padding;
  cursor: pointer;
}

.Hamburger__line-container {
  display: block;
  position: relative;
  width: 30px;
  height: 24px;
}

.Hamburger__line {
  position: absolute;
  left: 0;
  height: 4px;
  width: 100%;
  background: $background;
}

.Hamburger__top {
  @extend .Hamburger__line;

  top: 0;
}

.Hamburger__middle {
  @extend .Hamburger__line;

  top: 50%;
  transform: translateY(-50%);
}

.Hamburger__bottom {
  @extend .Hamburger__line;

  bottom: 0;
}
