$lineHeight: 4px !default;
$lineColor: #fff !default;
$padding: 10px !default;
$innerWidth: 30px !default;
$innerHeight: 24px !default;

.Hamburger {
  display: block;
  background: none;
  border: 0;
  padding: $padding;
  cursor: pointer;
}

.Hamburger__line-container {
  display: block;
  position: relative;
  width: $innerWidth;
  height: $innerHeight;
}

.Hamburger__line {
  position: absolute;
  left: 0;
  height: $lineHeight;
  width: 100%;
  background: $lineColor;
}

.Hamburger__top {
  @extend .Hamburger__line;

  top: 0;
}

.Hamburger__middle {
  @extend .Hamburger__line;

  top: 50%;
  transform: translateY(-50%);
}

.Hamburger__bottom {
  @extend .Hamburger__line;

  bottom: 0;
}
