@import '../styles.module.scss';

.Canvas--open {
  transform: translate3d(-$width, 0, 0);
}

.Header--open {
  transform: translate3d(-$width, 0, 0);
}

.Nav {
  height: 100%;
  top: 0;
  right: -$width;
  width: $width;
}

.Nav--open {
  transform: translate3d(-$width, 0, 0);
}
