@import '../styles.module.scss';

.Sidebar {
  top: $navHeight;
  bottom: 0;
  left: 100%;
  right: 0;
  transition: left $transitionDuration ease, visibility $transitionDuration ease;
}

.Sidebar--open {
  left: 0;
}
