@import '../styles.module.scss';

.Sidebar--right {
  top: $navHeight;
  bottom: 0;
  left: 100%;
  right: 0;
  transition: left $transitionDuration ease;
}

.Sidebar--right.Sidebar--open {
  left: 0;
}
