@import '../styles.module.scss';

.Sidebar {
  top: $navHeight;
  bottom: 100%;
  left: 0;
  right: 0;
  transition: bottom $transitionDuration ease,
    visibility $transitionDuration ease;
}

.Sidebar--open {
  bottom: 0;
}
