@import '../styles.module.scss';

.Sidebar {
  top: 0;
  left: -$width;
  width: $width;
  height: 100%;
}

.Sidebar--open {
  transform: translate3d($width, 0, 0);
}

.Canvas--open {
  transform: translate3d($width, 0, 0);
}

.Nav--open {
  transform: translate3d($width, 0, 0);
}
