@import '../styles.module.scss';

.NavPush {
  overflow: hidden;
}

.Nav {
  top: 0;
  left: -$width;
  width: $width;
  height: 100%;
}

.Nav--open {
  transform: translate3d($width, 0, 0);
}

.Canvas--open {
  transform: translate3d($width, 0, 0);
}

.Fixbox--open {
  transform: translate3d($width, 0, 0);
}
