@import '../styles.module.scss';

.NavPush {
  overflow-x: hidden;
}

.Nav {
  top: 0;
  left: 0;
  width: $width;
  height: calc(100% + 60px);
}

.Canvas--open {
  transform: translate3d($width, 0, 0);
}

.Header--open {
  transform: translate3d($width, 0, 0);
}

.Overlay--open {
  transform: translate3d($width, 0, 0);
}
