@import '../styles.module.scss';

.Sidebar {
  top: 0;
  left: 0;
  width: $width;
  height: calc(100% + 60px);
}

.Canvas.Canvas--open {
  transform: translate3d($width, 0, 0);
}

.Nav.Nav--open {
  transform: translate3d($width, 0, 0);
}

.Overlay.Overlay--open {
  transform: translate3d($width, 0, 0);
}
