.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  visibility: hidden;
  opacity: 0;
  transition: transform $transitionDuration, opacity $transitionDuration,
    visibility $transitionDuration;

  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.Overlay--open {
  opacity: 1;
  visibility: visible;
}

.Overlay--dim {
  background: rgba(10, 10, 10, 0.5);
}
