.Nav {
  position: fixed;
  background: #fff;
  transition: transform $transitionDuration ease,
    visibility $transitionDuration ease;
  visibility: hidden;
}

.Nav--open {
  visibility: visible;
}
