@import '../styles.module.scss';

.Sidebar {
  top: $navHeight;
  bottom: 0;
  left: 0;
  right: 100%;
  transition: right $transitionDuration ease,
    visibility $transitionDuration ease;
}

.Sidebar--open {
  right: 0;
}
